.f-left{
    float: left
}
.f-right{
    float: right;
}
.header{
    padding: 5px 15px;
    .main{
        font-size: 20px;
        line-height: 20px;
        overflow: hidden;
    }
    .info{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top:15px;
        li{
            margin-right: 10px;
        }
    }
}
